
:root{
    --primaryColor:#ff274b;
    --secandaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}
span{
    color: var(--primaryColor);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;

}
nav{

    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--lightColor);
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primaryColor);
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.80rem 1.86rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor)
}
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 4rem;
    margin: 1.7rem 0;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secandaryColor);
}
.social{
    margin-top: 3.5rem;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.3s;
}
.social img:hover{
    transform: scale(1.2);
}
.home .container-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
    

}
.home .container-images img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-40%);
    transition: bottom 1s, left 1s;
}
.shape{
    width: 450px;
}
.home .container-images:hover .shape{
    bottom: 40px;

}
.home .container-images:hover .pic{
    left: 45%;

}
.social a{
    text-decoration: none;
}

/* section two *******************************  */

.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about .container-images{
    width: 35%;
}
.about .container-images img{
    width: 90%;
}
.about .container-texts{
    width: 35%;
}
p{
    color: var(--secandaryColor);
    letter-spacing: 0.12rem;
    line-height: 1.8rem;
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

/* section tree ***************************************** */

.services{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}
.text-center{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card em{
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}

/* part for ******************************** */

.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.skills .container-images{
    width: 35%;
}
.skills .container-images img{
    width: 93%;
}
.skills .container-skills{
    width: 40%;
}
.content-skills{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 100px;
    height: 100px;
    color: var(--lightcolor);

    
    
}
.skill img{
    width: 60%;
}
.container-skills{
    justify-content: center;
    align-items: center;
}


/* footer ************************************ */

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}
footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .content-footer p{
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .content-footer .end{
    color: var(--primaryColor);
    margin-top: 1rem;
}

/* menu ************************************** */

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;

}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;

   
}

#menu.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: var(--primaryColor);
}



@media screen and (max-width: 575px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .container-images{
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }


    .about .container-images{
        display: none;
    }
    .about .container-texts{
        width: 100%;
    }


    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }


    .skills .container-images{
        display: none;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill{
        width: 80px;
        height: 80px;
    }


    footer .content-footer{
        width: 100%;
    }
}


/* for tdweer tele 888888************************************************/

@media screen and (min-width: 575px) and (max-width: 767px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .container-images{
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .content{
        padding-top: 82px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 30px;
    }
    h3{
        margin-bottom: 30px;
    }
    #menu{
        display: block;
    }


    /* about part 2  */

    .about .container-images{
        display: none;
    }
    .about .container-texts{
        width: 100%;
    }

    /* part tree of box */

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    /* part for of skills */

    .skills .container-images{
        display: none;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill{
        width: 80px;
        height: 80px;
    }


    footer .content-footer{
        width: 100%;
    }
}


/* tree  media for tablet    *************************************************** */




@media screen and (min-width: 768px) and (max-width: 991px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .container-images{
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }


    /* about part 2  */

    .about .container-images{
        display: none;
    }
    .about .container-texts{
        width: 100%;
    }

    /* part tree of box */

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    /* part for of skills */

    .skills .container-images{
        display: none;
    }
    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill{
        width: 80px;
        height: 80px;
    }

    /* footer ******* */

    footer .content-footer{
        width: 100%;
    }
}

/* tabelt m9loba ****************************** ************************************/

@media screen and (min-width: 992px) and (max-width: 1279px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .container-images img{
       height: auto;
       width: 100%;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a {
        display: none;
    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    .container-texts{
        bottom: 0em;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }


    /* about part 2  */

  
    .about .container-texts{
        width: 60%;
    }

    /* part tree of box */

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

   
    .skills .container-skills{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill{
        width: 80px;
        height: 80px;
    }

    /* footer ******* */

    footer .content-footer{
        width: 100%;
    }

}

